\documentclass[10pt,\VAR{paper}]{article}
\usepackage[margin=0.6in]{geometry}
\usepackage{amsmath}
\usepackage{multicol}
\usepackage{enumitem}

\setlength{\parindent}{0pt}
\setlength{\columnsep}{1.2em}

\begin{document}

\begin{center}
  {\large \textbf{\VAR{worksheet.title} — Answer Key}}
\end{center}
\vspace{0.5em}

\begin{multicols}{\VAR{columns}}
\begin{enumerate}[itemsep=0.25em, topsep=0pt, leftmargin=*]
%% for answer in answers
  \item $\VAR{answer}$
%% endfor
\end{enumerate}
\end{multicols}

\end{document}
